@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width:100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 50%;
  height: 320px;
  float: left;
}

#column-1 {
  background: AntiqueWhite;

}

#column-2 {
  background: Aqua;
}

#column-3 {
  background: aquamarine;
}


/*---------- FOOTER ----------*/

footer {
  width: 50%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: hotpink;
  }

  #column-1 {
    background-color: greenyellow;
    width: 50%;
  }

  #column-2 {
    background-color: darkseagreen;
    width: 50%;
  }

  #column-3 {
    background-color: darkorange;
    width: 50%;
  }

  footer {
    background-color: darkorchid;
    width: 50%;
  }
  
}


/*---------- Monitors ----------*/
@media (min-width: 1200px) {
  header {
    background-color: chartreuse ;
    width: 50%;
  }

  #column-1 {
    background-color: cyan;
    width: 50%;
  }

  #column-2 {
    background-color: cornflowerblue;
    width: 50%;
  }

  #column-3 {
    background-color: gold;
    width: 50%;
  }

  footer {
    background-color: indianred;
    width: 50%;
  }
   
}
